table {
  border: none;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: none;
  margin: none;
  border: none;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #f4f4f4;
}

body {
  background-image: linear-gradient(to top left, #753682 15%, #2e8e8c 100%);
  padding: none;
  border: none;
  background-color: #3cadab;
}

.game {
  display: flex;
  height: 40vw;
  width: 60vw;
  box-shadow: 15px 5px 25px #2b2b2b;
  border-radius: 1vw;
  background-image: linear-gradient(to top right, #7e4aae 5%, #432064);
}

.player--0,
.player--1 {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.player--0 {
  display: flex;
  flex-direction: column;
}

.total--0,
.score--0,
.player {
  align-self: center;
}

.choices {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  background-image: linear-gradient(to top left);
}

.player,
.ai {
  margin: 1.5vw;
  margin-bottom: none;
  font-size: 3em;
}

.rock,
.paper,
.scissors {
  height: 8vw;
  width: 8vw;
  margin: 0vw 0.5vw 0.5vw 0.5vw;
}

img {
  width: 8vw;
  height: 8vw;
  box-shadow: 10px 5px 25px#2b2b2b;
}

.rock,
.paper,
.scissors img:hover {
  cursor: pointer;
}

.score--0,
.score--1 {
  margin: 2vw, 1.2vw, 1.2, 1.2vw;
  font-size: 2em;
  color: #d4b1f5;
}

.score--0,
.score--1 {
  display: flex;
  flex-direction: row;
  margin-top: 1.5vw;
}

.total--1,
.total--0 {
  margin: 0vw 1.2vw 1.2vw 1.2vw;
  font-size: 2em;
  color: #d4b1f5;
}
.reset button {
  position: absolute;
  align-self: center;
  top: 50%;
  left: 45.5%;
  width: 9vw;
  height: 3vw;
  background-color: rgba(226, 226, 226, 0.5);
  border: none;
  border-radius: 2vw;
  font-size: 1.5em;
}

.reset button:hover {
  cursor: pointer;
  background-color: rgba(196, 196, 196, 0.8);
}

.reset .winner {
  position: absolute;
  top: 18%;
  left: 47%;
}

.player--1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aiChoice {
  margin: 29%;
}

.active--player1 {
  background-color: rgb(67, 32, 100);
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
}

.--hidden {
  display: none;
}
